{
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "react/prop-types": 0
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "plugins": [
    "jsx-a11y"
  ],
  "env": {
    "amd": true,
    "node": true,
    "browser": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
