@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('DM Sans'),
       url('/fonts/DMSans-Regular.woff2') format('woff2'), 
       url('/fonts/DMSans-Regular.woff') format('woff'),
       url('/fonts/DMSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('DM Sans'),
       url('/fonts/DMSans-Bold.woff2') format('woff2'), 
       url('/fonts/DMSans-Bold.woff') format('woff'),
       url('/fonts/DMSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('DM Mono'),
       url('/fonts/DMMono-Regular.woff2') format('woff2'), 
       url('/fonts/DMMono-Regular.woff') format('woff'),
       url('/fonts/DMMono-Regular.ttf') format('truetype');
}
