@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("DM Sans"), url("/fonts/DMSans-Regular.woff2") format("woff2"),
    url("/fonts/DMSans-Regular.woff") format("woff"),
    url("/fonts/DMSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "DM Sans";
  font-style: bold;
  font-weight: 600;
  font-display: swap;
  src: local("DM Sans"), url("/fonts/DMSans-Bold.woff2") format("woff2"),
    url("/fonts/DMSans-Bold.woff") format("woff"),
    url("/fonts/DMSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "DM Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("DM Mono"), url("/fonts/DMMono-Regular.woff2") format("woff2"),
    url("/fonts/DMMono-Regular.woff") format("woff"),
    url("/fonts/DMMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: BrandonGrotesque;
  src: url("/fonts/brandon_light.woff2") format("woff2"),
    url("/fonts/brandon_light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: BrandonGrotesque;
  src: url("/fonts/brandon_light_it.woff2") format("woff2"),
    url("/fonts/brandon_light_it.woff") format("woff");
  font-style: italic;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: BrandonGrotesque;
  src: url("/fonts/brandon_reg.woff2") format("woff2"),
    url("/fonts/brandon_reg.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: BrandonGrotesque;
  src: url("/fonts/brandon_reg_it.woff2") format("woff2"),
    url("/fonts/brandon_reg_it.woff") format("woff");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: BrandonGrotesque;
  src: url("/fonts/brandon_med.woff2") format("woff2"),
    url("/fonts/brandon_med.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: BrandonGrotesque;
  src: url("/fonts/brandon_med_it.woff2") format("woff2"),
    url("/fonts/brandon_med_it.woff") format("woff");
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: BrandonGrotesque;
  src: url("/fonts/brandon_bld.woff2") format("woff2"),
    url("/fonts/brandon_bld.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
