.headerForDoc {
  top: 0;
  z-index: 7;

  & > div {
    padding-top: 10px;
    padding-bottom: 10px;

    @media screen(sm) {
      @apply h-14;
    }

    & > nav {
      width: 100%;

      & > div {
        display: none;

        @media screen(sm) {
          display: flex;
        }
      }
    }
  }
}

.hamburger {
  background-color: red;

  div {
    background-color: white;
  }
}
