.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
}

.title {
  @apply font-medium text-3xl;

  @media screen(lg) {
    @apply text-4xl;
  }
}

.content {
  @apply text-lg;

  padding: 0 15px;
  text-align: center;

  @media screen(lg) {
    @apply text-xl;
  }
}
