.alert {
  height: var(--layout-alert-height);
  line-height: var(--layout-alert-height);
  font-size: 18px;
  text-align: center;
  background-color: #fff;
  color: rgba(58 45 76 / 70%);
  width: 100%;
  transition: 0.5s all, 0s width;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 16px;
  flex: 0 0 var(--layout-alert-height);

  .text {
    display: flex;
    align-items: center;
    padding: 0 16px;
    overflow: hidden;
    justify-content: center;
  }

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
  }

  .textSvg {
    width: 22px;
    height: 22px;
    min-width: 22px;
    min-height: 22px;
    margin-right: 8px;
  }

  a {
    color: rgba(58 45 76 / 70%);
    text-decoration: underline;

    &:hover {
      color: rgba(58 45 76 / 70%);
      opacity: 0.7;
    }
  }
}
